body{
    margin: 0;

}
.telephone{
    display: flex;
    
    width: 100%;
    height: 844px;
    flex-flow: column;
    margin: 0;
    
}

.telhead{
    position: relative;
    display: flex;
    
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 0;
    margin-bottom: 0;
    height: 140px;
    
    align-items: center;
    justify-content: space-between;
    
    
}

.imghead{
    width: 100px;
}
.top{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.topfoto{
    width: 300px;
    height: 300px;

}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.left{
    display: flex;
    justify-content: center;
    
    width: 140px;
    height: 100%;
}
.infoborder{
    position: absolute;
width: 131px;
height: 347px;
display: flex;
flex-direction: column;
align-items: center;


background: rgba(255, 255, 255, 0.5);
box-shadow: inset 5px 5px 4px rgba(83, 145, 171, 0.25), inset -5px -5px 4px rgba(83, 145, 171, 0.25);
border-radius: 50px;
}
.infoborder1{
    position: absolute;
width: 230px;
height: 347px;
display: flex;
flex-direction: column;
align-items: center;


background: rgba(255, 255, 255, 0.5);
box-shadow: inset 5px 5px 4px rgba(83, 145, 171, 0.25), inset -5px -5px 4px rgba(83, 145, 171, 0.25);
border-radius: 50px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 100%;
}

.infotxt{
    margin: 5px;
font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.405em;

color: #000000;
}

.infotxt1{
margin: 0;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 49px;
/* identical to box height */

letter-spacing: 0.15em;

color: #000000;
}

.infoimg{
    width: 60px;
    height: 60px;
}
.righttxt{
    margin: 10px;
    font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
letter-spacing: 0.1em;

color: #000000;
}
.inforight{
    font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.1em;

color: #000000;
}

.vector1{
    position: absolute;
    left: 0px;
    top: 70px;
}

.vector2{
    position: absolute;
    right: 0px;
    bottom: 0px;
}