body{
    margin: 0;

}
.telephone{
    display: flex;
    
    width: 100%;
    height: 900px;
    flex-flow: column;
    margin: 0;
    
}

.telhead{
    position: relative;
    display: flex;
    
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 0;
    margin-bottom: 0;
    height: 140px;
    
    align-items: center;
    justify-content: space-between;
    
    
}

.imghead{
    width: 100px;
}
.top{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.topfoto{
    width: 350px;
    height: 350px;

}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
}

.middle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:390px;
    height: 100%;
}
.infoborder{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin-bottom: 20px;
margin-right: 10px;
width: 100px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;

background: rgba(255, 255, 255, 0.5);
box-shadow: inset 5px 5px 4px rgba(83, 145, 171, 0.25), inset -5px -5px 4px rgba(83, 145, 171, 0.25);
border-radius: 30px;
}
.infoborder1{
    position: relative;
    width: 375px;
    height: 191px;
    display: flex;
    justify-content: center;
    
    flex-direction: column;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: inset 5px 5px 4px rgba(83, 145, 171, 0.25), inset -5px -5px 4px rgba(83, 145, 171, 0.25);
    border-radius: 40px;
}
.infotxt{
    
    
    margin: 0;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: 0.405em;
    
    color: #000000;
}
.infotxt2{
    
    margin: 0;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    letter-spacing: 0.125em;
    
    color: #000000;
}
.borfoto{
    width: 80px;
    height: 80px;
}

.right{
    display: flex;
    justify-content: center;
    
    width: 240px;
    height: 100%;
}
.righttxt{
    margin: 0;
height: 48px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1em;

color: #000000;
}
.inforight{
    margin: 0;
    width: 331px;
height: 95px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
letter-spacing: 0.1em;

color: #000000;
}

.vector1{
    position: absolute;
    left: 0px;
    top: 70px;
}

.vector2{
    position: absolute;
    right: 0px;
    top: 430px;
}